<div class="container-post">
    <h4>Контакты</h4><br>
    <div class="container-col">
        <p>Адрес</p>
        <a target="_blank" (click)="dom()"><img class="img" src="./../../assets/images/dom.png"></a>
    </div>
    <div class="container-col">
        <p>Телефон</p>
        <a target="_blank" (click)="tel()"><img class="img" src="./../../assets/images/tel.jpg"></a>
    </div>
    <div class="container-col">
        <p>Ссылка на соц сеть сайта</p>
        <a target="_blank" (click)="refer()"><img class="img" src="./../../assets/images/te.png"></a>
    </div>

   
    
</div>