<app-post-modal>
</app-post-modal>

<div class="container-post">
    <form class="search" [formGroup]="form" (ngSubmit)="onSubmit()">
      <input class="container-field" formControlName="searchLine" id="searchLine" type="text" placeholder="Поиск">
      <button class="container-btn" type="submit">Поиск</button>
    </form>
    <form class="header" [formGroup]="formSort" (ngSubmit)="onSubmitSort()">
      <select formControlName="sort" name="sort" class="select-sort">
        <option value="asc" type="text">asc</option>
        <option value="desc" type="text">desc</option>
      </select>
      <button class="container-btn" type="submit">Сортировать</button>
    </form>
  
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Пост</th>
        <th>Редактировать</th>
        <th>Удалить из избранного</th>
       </tr>
    </thead>
    <tbody *ngIf="posts$ | async as posts">
      <tr *ngFor="let post of posts; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{post.name}}</td>
        <td (click)="openMenuEdit($event, post)"><img src="././assets/images/edit.png"/></td>
        <td (click)="delete(post)"><img src="././assets/images/del.png"/></td>
      </tr>
    </tbody>  
  </table>

  <ul class="pagination">
    <li class="disabled"><a href="#!">&lt;</a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!">&gt;</a></li>
  </ul>

</div>

